@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
}
.inputCls {
  /* background-color: #E7E7E7; */
  background-color: white;
  padding: 0.75rem 1rem; /* Equivalent to py-3 */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Equivalent to shadow-md */
  border-radius: 0.75rem; /* Equivalent to rounded-xl */
  margin-top: 0.5rem; /* Equivalent to mt-2 */
}


.overlay__width {
  width: calc(100% - 60vw); 
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btnXs {
  background: #276AD9;
  color: #fff;
  padding: 5px 16px;
  font-size: .86rem;
  text-align: center;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btnXs:hover {
  scale: 90%;
}

@media screen and (max-width: 480px) {
      .btnXs {
        font-size: .7rem;
      }

      .btnSm {
        font-size: .7rem;
        padding: 5px 16px;
      }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  
} */

.btnSm {
  background: #276AD9;
  color: #fff;
  padding: 5px 20px;
  font-size: .9rem;
  text-align: center;
  border-radius: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btnSm:hover {
  scale: 90%;
}

.btnLg {
  background: #276AD9;
  color: #fff;
  width: 30rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btnLg:hover {
  scale: 90%;
}

#myModal {
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 760px) {
  .btnLg {
    width: 15rem;
  }
}

@media screen and (max-width: 480px) {
  .btnXs {
    font-size: .7rem;
  }

  .btnSm {
    font-size: .7rem;
    padding: 5px 16px;
  }

  .btnLg {
    width: 7rem;
  }
}
