/* @tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */


@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
}
.inputCls {
  /* background-color: #E7E7E7; */
  background-color: white;
  padding: 0.75rem 1rem; /* Equivalent to py-3 */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Equivalent to shadow-md */
  border-radius: 0.75rem; /* Equivalent to rounded-xl */
  margin-top: 0.5rem; /* Equivalent to mt-2 */
}


.overlay__width {
  width: calc(100% - 60vw); 
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btnXs {
  background: #276AD9;
  color: #fff;
  padding: 5px 16px;
  font-size: .86rem;
  text-align: center;
  border-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btnXs:hover {
  scale: 90%;
}

@media screen and (max-width: 480px) {
      .btnXs {
        font-size: .7rem;
      }

      .btnSm {
        font-size: .7rem;
        padding: 5px 16px;
      }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  
} */

.btnSm {
  background: #276AD9;
  color: #fff;
  padding: 5px 20px;
  font-size: .9rem;
  text-align: center;
  border-radius: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btnSm:hover {
  scale: 90%;
}

.btnLg {
  background: #276AD9;
  color: #fff;
  width: 30rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.75rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btnLg:hover {
  scale: 90%;
}

#myModal {
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 760px) {
  .btnLg {
    width: 15rem;
  }
}

@media screen and (max-width: 480px) {
  .btnXs {
    font-size: .7rem;
  }

  .btnSm {
    font-size: .7rem;
    padding: 5px 16px;
  }

  .btnLg {
    width: 7rem;
  }
}